<header [ngClass]="{
	'game-active': gameIsActive,
	'collapsed': gameIsActive && showHeader
}">
	<h1>Pokemon Memory Game</h1>
	<p>
		Instead of trying to search for the same pairs, search the evolution lines of
		each pokemon of the first generation.<br />
		Example: Charmander -> Charmeleon -> Charizard (* Pokemons without evolution
		count as a score)
	</p>
	<button (click)="onNewGameClick()">New Game</button>
	<button [ngClass]="{
		'collapse-button': true,
		'collapsed': showHeader
	}" (click)="onCollapseClick()"></button>
</header>
<main>
	<app-deck></app-deck>
</main>
<div *ngIf="gameService.isPlaying" class="player-bar">
	<div class="fails section">Fails: {{ gameService.fails }}</div>
	<div class="timer section">Timer: <app-timer #timer></app-timer></div>
</div>
<app-modal
	*ngIf="showEndGameModal"
	[title]="'Congratulations'"
	[content]="
		'You finished the game in ' + gameService.duration + ' with ' + gameService.fails + ' fails.'
	"
	[buttons]="endGameModalButtons"
></app-modal>
